 <footer>
      <div class="footer_main py-60">
        <img src="assets/media/shapes/vector-7.png" alt="" class="vector_shape">
        <img src="assets/media/shapes/dots-1.png" alt="" class="dots">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 ">
              <div class="footer_widget">
                <a href="index.html" class="mb-8"><img src="assets/media/logo.png" alt=""></a>
                <p class="description_text">Lorem ipsum dolor sit amet consectetur. Non convallis sed id aliquam tempus.
                  Volutpat tortor tincidunt egestas sit risus donec.</p>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Quick Links</h5>
                <ul class="unstyled list">
                  <li><a href=""><i class="fad fa-chevron-right"></i>Courses</a></li>
                  <li><a href=""><i class="fad fa-chevron-right"></i>Join a Career</a></li>
                  <li><a href=""><i class="fad fa-chevron-right"></i>Upcoming Events</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Explore</h5>
                <ul class="unstyled list">
                  <li><a href="about.html"><i class="fad fa-chevron-right"></i>About Us</a></li>
                  <li><a href="gallery.html"><i class="fad fa-chevron-right"></i>Gallery</a></li>
                  <li><a href="team-detail.html"><i class="fad fa-chevron-right"></i>Teacher’s Detail</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Information</h5>
                <ul class="unstyled list">
                  <li><a href="login.html"><i class="fad fa-chevron-right"></i>Login</a></li>
                  <li><a href="register.html"><i class="fad fa-chevron-right"></i>Register</a></li>
                  <li><a href="contact.html"><i class="fad fa-chevron-right"></i>Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Contact Us</h5>
                <ul class="unstyled list">
                  <li class="mb-16"><i class="fal fa-map-marker-alt"></i>631 Elgin ST. Celina, State 111111</li>
                  <li class="mb-16"><a href="mailto:info@example.com"><i
                        class="fal fa-envelope"></i>email@example.com</a></li>
                  <li><a href="tel:123456789"><i class="fal fa-phone-alt"></i>+1 234 567 890</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bottom-row">
            <ul class="unstyled social_icons_list">
              <li>
                <a href="">
                  <img src="assets/media/icons/brands/Instagram.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="assets/media/icons/brands/Facebook.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="assets/media/icons/brands/Twitter.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="assets/media/icons/brands/Linkedin.png" alt="">
                </a>
              </li>
            </ul>
            <div class="newsletter_block">
              <h5>Newsletter</h5>
              <form class="newsletter">
                <input type="email" class="form-control" required placeholder="Your email">
                <button type="submit" class="educate-btn sm"><span class="educate-btn__curve"></span>Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright_row">
        <p>©2025 Educate All Rights Reserved.</p>
      </div>
    </footer>