<!-- Page Title Banner Start -->
        <section class="page_title_banner">
            <div class="container">
                <div class="content">
                    <div class="title">
                        <h1>Gallery</h1>
                        <img src="https://uiparadox.co.uk/templates/educate/assets/media/shapes/tag-2.png" alt="" class="tag">
                    </div>
                    <div class="educate-tilt"
                        data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                        <img src="https://uiparadox.co.uk/templates/educate/assets/media/resources/page_title.png" alt="" class="main_img">
                    </div>
                    <img src="https://uiparadox.co.uk/templates/educate/assets/media/shapes/circle-lines-2.png" alt="" class="circle_vector">
                </div>
            </div>
        </section>
        <!-- Page Title Banner End -->

        <!-- Gallery Area Start -->
        <div class="pt-60 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-1.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 1</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-2.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 2</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-3.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 3</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-4.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 4</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-5.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 5</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-6.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 6</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-7.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 7</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 g_c mb-24">
                        <div class="gallery_card">
                            <img src="https://uiparadox.co.uk/templates/educate/assets/media/gallery/g-8.png" alt="" class="br-5 mb-8">
                            <span class="fm-sec">polaroid # 8</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->
