
@import "variables";
@import "mixins";   

.project-card {
  background-color: $main-color;
  @include rounded-corners(5px);
}


#projects_controller {
  .new_project {
    background-color: $main-color;
    color: #FFF;
    padding: 5px 12px;
    margin: 10px 0;
    font-size: 16px;
    @include rounded-corners(5px);
  }

  .project {
    border: solid 1px #777;
    margin: 20px 0;
    padding: 7px 12px;
    @include rounded-corners(10px);
  }

  .project h2 {
    margin: 0;
  }
}